// .__container {
//   max-width: 100%;
//   padding: 16px 50px;
// }
// .breadcrumbs {
//   height: auto;
// }
.left-menu {
  float: left;
}
.right-content {
  width: 100%;
  max-width: 100%;
  height: calc(100vh - var(--v-app-bar-height-px));
}

// .create-content {
//   flex-direction: column;
// }
// .create-title {
//   height: fit-content;
//   flex-grow: unset;
// }
.card-width-100 {
  width: 100%;
}

.card-width-height-100 {
  width: 100%;
  height: 100%;
}

.ocis-pt-2-and-half {
  padding-top: 10px !important;
}
